<mat-card>
    <mat-card-content>
        <div class="row">
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
            <div class="col col-sm-12 col-xl-4 col-md-4 chats">
                <mat-selection-list #chatingUser="ngModel" [(ngModel)]="selectedChatingUser"
                    (selectionChange)="selectionChanged()" [multiple]="false" *ngIf="friends && friends.length>0">
                    <mat-list-option *ngFor="let user of friends" [value]="user" class="px-2">
                        <mat-icon matListItemIcon><img mat-card-avatar [src]="baseURL+user.groups.img"></mat-icon>
                        <div matListItemTitle>{{user.groups.first_name}} {{user.groups.last_name}}
                        </div>
                        <div *ngIf="user.groups.is_online" matListItemLine class="text-info">online</div>
                        <div *ngIf="!user.groups.is_online" matListItemLine>Last
                            seen: {{getLastSeen(user.groups.last_seen)}}</div>
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <div class="col col-sm-12 col-xl-8 col-md-8 d-flex flex-column justify-content-between chatContainer"
                *ngIf="selectedChatingUser && !isLoading">
                <app-messaging [selectedUser]="selectedChatingUser[0]"></app-messaging>
            </div>
        </div>
    </mat-card-content>
</mat-card>