<div [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState(user.id??0)"
    (swipeleft)='startAnimation("swipeleft",user.id)' (swiperight)='startAnimation("swiperight",user.id)'>
    <mat-card class="overflow-hidden">
        <div>
            <img [src]="user.img?serverUrl+user.img:'http://placekitten.com/g/200/300'"class="noDragable" alt="" width="400px" height="270px">
        </div>
        <div class="profileName">
            <p class="fs-18 lh-lg fw-medium">
                {{user.first_name+" "+ user.last_name}}
            </p>
            <div class="d-flex align-items-center justify-content-around">
                <div class="profession"> Age: {{age}} </div>
                <div class="profession"> Profile Likes: {{ user.profile_like.length }} </div>
            </div>
        </div>
    </mat-card>
</div>