<div [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState(user.id)"
    (swipeleft)='startAnimation("swipeleft",user.id)' (swiperight)='startAnimation("swiperight",user.id)'>
    <mat-card class="overflow-hidden">
        <div>
            <img [src]="user.picture" class="w-100 noDragable" alt="">
        </div>
        <div class="profileName">
            <p class="fs-18 lh-lg fw-medium">
                {{user.name}}
            </p>
            <div class="profession"> Age: {{user.age}} </div>
        </div>
    </mat-card>
</div>