<div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!isLoading && profileInfo">

    <header class="my-3">
        <div class="container">
            <div class="profile">
                <div class="profile-image">
                    <img [src]="profileInfo.img?baseUrl+profileInfo.img:'http://placekitten.com/g/300/300'" alt="" width="100%">
                </div>
                <div class="profile-user-settings">
                    <h1 class="profile-user-name">{{profileInfo.first_name}} {{profileInfo.last_name}}</h1>
                    <h3>
                        <span class="text-muted">{{age}} , {{profileInfo.gender}}</span>
                    </h3>
                </div>
                <div class="profile-stats">
                    <ul class="ps-0">
                        <li><span class="profile-stat-count">{{profileLikeCount}}</span> likes</li>
                        <li><span class="profile-stat-count">0</span> superlikes</li>
                    </ul>
                </div>

                <div class="profile-bio">
                    <p>{{profileInfo.bio}}</p>
                </div>
                <div class="d-flex w-100 justify-content-center align-items-center">
                    <ul class=" info mt-3 d-flex ps-0">
                        <li *ngFor="let link of social_links" class="mx-2">
                            <a [href]="link.link" target="_blank">
                                <img [src]="link.icon" class="" width="40px" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row px-4 ">
                <div class="col-lg-4 mt-2" *ngIf="profileInfo.food_prefrences.length>0">
                    <h3 class="">Food Prefrences</h3>
                    <div class="d-flex  align-items-center">
                        <span class="badge me-2 bg-primary rounded-pill "
                            *ngFor="let item of profileInfo.food_prefrences">{{item.name}}</span>
                    </div>
                </div>
                <div class="col-lg-4 mt-2" *ngIf="profileInfo.goingout_preference.length>0">
                    <h3 class="">Places Likes to go</h3>
                    <div class="d-flex  align-items-center">
                        <span class="badge me-2 bg-primary rounded-pill "
                            *ngFor="let item of profileInfo.goingout_preference">{{item.name}}</span>
                    </div>
                </div>
                <div class="col-lg-4 mt-2" *ngIf="profileInfo.hobby.length>0">
                    <h3 class="">Hobbies</h3>
                    <div class="d-flex  align-items-center">
                        <span class="badge me-2 bg-primary rounded-pill "
                            *ngFor="let item of profileInfo.hobby">{{item.name}}</span>
                    </div>
                </div>
                <div class="col-lg-4 mt-2" *ngIf="profileInfo.professions.length>0">
                    <h3 class="">Professions</h3>
                    <div class="d-flex  align-items-center">
                        <span class="badge me-2 bg-primary rounded-pill "
                            *ngFor="let item of profileInfo.professions">{{item.name}}</span>
                    </div>
                </div>
                <div class="col-lg-4 mt-2" *ngIf="profileInfo.ethicity.length>0">
                    <h3 class="">Ehnicity</h3>
                    <div class="d-flex  align-items-center">
                        <span class="badge me-2 bg-primary rounded-pill "
                            *ngFor="let item of profileInfo.ethicity">{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<mat-divider></mat-divider>
    <main class="my-3">
        <h1 *ngIf="profileInfo.user_images.length===0">No images </h1>
        <div class="container row">
            <div class="gallery col-lg-4" *ngFor="let image of profileInfo.user_images">
                <div class="gallery-item" tabindex="0">
                    <img [src]="baseUrl+image.imgurl" class="gallery-image rounded-1" alt="userImage">
                </div>
            </div>
        </div>
    </main>
</mat-card>