<mat-list *ngIf="!swipeLoading && profileSwipes.swipeList">
    <div mat-subheader class="fw-700"><b>Swipes</b></div>
    <mat-list-item class="text-muted" *ngIf="!profileLikes || profileLikes.likes.length===0">
        <div matListItemTitle>No Swipes Found.</div>
    </mat-list-item>
    <div *ngIf="swipeLoading">
        <mat-spinner></mat-spinner>
    </div>
    <mat-list-item *ngFor="let likes of profileSwipes.swipeList">
        <img matListItemIcon [src]="baseURL+likes.intrested_user.img" class="profileImg m-2" />
        <div matListItemTitle>{{likes.intrested_user.first_name}} {{likes.intrested_user.last_name}}</div>
        <div matListItemLine>{{likes.createdAt | date}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
<mat-list *ngIf="!likeLoading && profileLikes.likes">
    <div mat-subheader class="fw-700"><b>Likes</b></div>
    <mat-list-item class="text-muted" *ngIf="!profileLikes || profileLikes.likes.length===0">
        <div matListItemTitle>No Likes Found.</div>
    </mat-list-item>
    <div *ngIf="likeLoading">
        <mat-spinner></mat-spinner>
    </div>
    <mat-list-item *ngFor="let likes of profileLikes.likes">
        <img matListItemIcon [src]="baseURL+likes.intrested_liked_user.img" class="profileImg m-2" />
        <div matListItemTitle>{{likes.intrested_liked_user.first_name}} {{likes.intrested_liked_user.last_name}}</div>
        <div matListItemLine>{{likes.createdAt | date}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

<mat-list>
    <div mat-subheader class="fw-700"><b>Invitaions</b></div>
    <mat-list-item *ngIf="!invitations || invitations.length == 0">
        <div matListItemTitle>No more invitations.</div>
    </mat-list-item>
    <mat-list-item *ngFor="let inv of invitations">
        <img matListItemIcon [src]="baseURL+inv.user.img" class="profileImg m-2" />
        <div matListItemTitle>{{inv.user.first_name}} {{inv.user.last_name}}</div>
        <div matListItemLine>{{inv.createdAt | date}}</div>
        <div matListItemMeta>
            <button mat-stroked-button color="accent" (click)="acceptRequest(inv)">Accept</button>
            <button mat-stroked-button color="warn" class="m-2" (click)="declineRequest()">Decline</button>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>