<div class="container-fluid">
    <div class="container">
        <h1>Profile Swipes</h1>
        <h3 class="text-muted" *ngIf="profileSwipes&&profileSwipes.swipeList.length===0">
            No Swipes Found
        </h3>
        <div *ngIf="isloading">
            <mat-spinner></mat-spinner>
        </div>
        <mat-list *ngIf="!isloading">
            <app-notification-card *ngFor="let swipes of profileSwipes.swipeList" [type]="'swipe'"
                [swipeInfo]="swipes"></app-notification-card>
        </mat-list>
    </div>
</div>