<div class="container-fluid">
    <div class="container">
        <h1>Profile Swipes</h1>
        <h3 class="text-muted" *ngIf="profileSwipes&&profileSwipes.swipeList.length===0">
            No Swipes Found
        </h3>
        <div *ngIf="swipeLoading">
            <mat-spinner></mat-spinner>
        </div>
        <mat-list *ngIf="!swipeLoading && profileSwipes.swipeList">
            <app-notification-card *ngFor="let swipes of profileSwipes.swipeList" [type]="'swipe'"
                [swipeInfo]="swipes"></app-notification-card>
        </mat-list>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <h1>Profile Likes</h1>
        <h3 class="text-muted" *ngIf="profileLikes&&profileLikes.likes.length===0">
            No Likes Found
        </h3>
        <div *ngIf="likeLoading">
            <mat-spinner></mat-spinner>
        </div>
        <mat-list *ngIf="!likeLoading && profileLikes.likes">
            <app-notification-card *ngFor="let likes of profileLikes.likes" [type]="'like'"
                [swipeInfo]="likes"></app-notification-card>
        </mat-list>
    </div>
</div>

<mat-list>
    <div mat-subheader class="fw-700"><b>Invitaions</b></div>
    <mat-list-item *ngIf="!invitations || invitations.length == 0">
        <div matListItemTitle>No more invitations.</div>
    </mat-list-item>
    <mat-list-item *ngFor="let inv of invitations">
        <img matListItemIcon [src]="baseURL+inv.user.img" class="profileImg m-2" />
        <div matListItemTitle>{{inv.user.first_name}} {{inv.user.last_name}}</div>
        <div matListItemLine>{{inv.createdAt | date}}</div>
        <div matListItemMeta>
            <button mat-stroked-button color="accent" (click)="acceptRequest(inv)">Accept</button>
            <button mat-stroked-button color="warn" class="m-2" (click)="declineRequest()">Decline</button>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>