<mat-list-item>
    <div matListItemIcon>
        <img src="{{ user.img?serverUrl+user.img:'https://i.imgur.com/zZUiqsU.png' }}"
           width="50px" class="border-1 rounded-circle border-dark" style="aspect-ratio: 1/1;"></div>
    <div matListItemTitle>
        {{user.first_name}} {{user.last_name}}
    </div>
    <span class="intro-1 text-dark-50">
        {{swipeInfo.createdAt.split('T')[0]}}
    </span>
    <div matListItemLine> {{description}}</div>
</mat-list-item>
<mat-divider></mat-divider>