<div class="row">
    <div class="col-12">
        <mat-card>
            <mat-card-content>
                <div class="scrollable-grid" style="max-height: 80vh !important;">
                    <ag-grid-angular style="width: 100%;flex:1 1 auto" class="ag-theme-material userList"
                        [columnDefs]="columnDefs" [rowHeight]="80" [cacheQuickFilter]="true" [pagination]="true"
                        [paginationPageSize]="10" [defaultColDef]="defaultColDef" [rowData]="allItems"
                        [rowSelection]="'multiple'" [animateRows]="true" (gridReady)="onGridReady($event)"
                        (rowSelected)="onRowSelected($event)">
                    </ag-grid-angular>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>