<!-- Form Layout -->
<div class="card form-card">
    <div class="card-body text-center">
        <h4 class="mb-32 text-center">Login</h4>
        <form #loginForm="ngForm" novalidate>
            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Enter your email" name="loginData.email"
                    aria-describedby="emailHelpId" [(ngModel)]="loginData.email" [email]="true" #email="ngModel"
                    required>
                <mat-error *ngIf="(email.touched) && email.errors?.['required']"> Email is required. </mat-error>
                <mat-error *ngIf="(email.touched ) && email.errors?.['email']"> Email is not valid </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter your password" [(ngModel)]="loginData.password"
                    name="loginData.password" #password="ngModel" required>
                <mat-error *ngIf="(password.touched) && password.errors?.['required']"> Password is
                    required.</mat-error>
            </mat-form-field>

            <button class="w-100" mat-raised-button color="accent" type="submit" [disabled]="isLoading"
                (click)="login(loginForm)">Login</button>
        </form>
        <div class="d-flex justify-content-center text-center">
            <div class="alert" role="alert"><strong>Don't have account!</strong>
                <br> <a routerLink="/auth/register" class="text-primary alert-link">Click Here</a>
            </div>
        </div>
    </div>
</div>