<!-- Form Layout -->
<div class="card form-card">
    <div class="card-body text-center">
        <h4 class="mb-32 text-center">Forget Password</h4>
        <form #PasswordResetForm="ngForm" novalidate class="form">
            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Type Your Email</mat-label>

                <input matInput type="email" placeholder="Enter your email" name="resetPasswordData.email"
                    aria-describedby="emailHelpId" [(ngModel)]="resetPasswordData.email" [email]="true" #email="ngModel"
                    required>
                <mat-error *ngIf="(email.touched) && email.errors?.['required']"> Email is required. </mat-error>
                <mat-error *ngIf="(email.touched ) && email.errors?.['email']"> Email is not valid </mat-error>
            </mat-form-field>


            <button class="w-100" mat-raised-button color="accent" type="button" 
            [disabled]="!PasswordResetForm.valid || isSubmitted " 
                (click)="sendPasswordResetRequest(PasswordResetForm)">
                    <span *ngIf="isLoading">Loading....</span> 
                    <span *ngIf="!isLoading">Submit</span> 
            </button>
        </form>
    </div>
</div>