/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

mat-form-field,
mat-radio-group {
    margin-bottom: 10px !important;
}

mat-error {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noDragable {
    pointer-events: none;
}
