/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

mat-form-field,
mat-radio-group {
    margin-bottom: 10px !important;
}

mat-error {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noDragable {
    pointer-events: none;
}

.custom_image_upload {
    cursor: pointer;
    background: white;
    display: flex;
    min-width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 12px gray;
    position: relative;

    input[type='file'] {
        display: none;
    }

    div {
        position: absolute;
        right: -10px;
        top: -10px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        color: black;
        font-weight: 700;
        justify-content: center;
        padding: 14px;
        cursor: pointer;
    }

    img {
        cursor: auto;
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
}
.mat-mdc-dialog-actions{
    justify-content: flex-end !important;
}

button:disabled{
    cursor: not-allowed !important;
}

.toast-top-center {
    bottom: 10px;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 100%;
  }

  .toast-bottom-center {
    bottom: 10px;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 100%;
  }

  .badge.bg-primary {
    background-color: #03c9d7 !important;
  }