/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-material.css';

.ag-root-wrapper-body.ag-layout-normal {
    height: 100% !important;
    width: 100% !important;
}

mat-form-field,
mat-radio-group {
    margin-bottom: 10px !important;
}

mat-error {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noDragable {
    pointer-events: none;
}

.custom_image_upload {
    cursor: pointer;
    background: white;
    display: flex;
    min-width: 200px;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 12px gray;
    position: relative;

    input[type='file'] {
        display: none;
    }

    div {
        position: absolute;
        right: -10px;
        top: -10px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        color: black;
        font-weight: 700;
        justify-content: center;
        padding: 14px;
        cursor: pointer;
    }

    img {
        cursor: auto;
        border-radius: 20px;
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

.mat-mdc-dialog-actions {
    justify-content: flex-end !important;
}

button:disabled {
    cursor: not-allowed !important;
}

.toast-top-center {
    bottom: 10px;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 10px;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 100%;
}

.scrollable-grid {
    max-height: 500px;
    min-height: 500px;
    display: flex;
}

.scrollable-grid ::-webkit-scrollbar-thumb {
    background-color: #9be5eb !important;
}


.scrollable-grid ::-webkit-scrollbar {
    width: 0.2em !important;
    height: 0.4em !important;
}

.badge.bg-primary {
    background-color: #03c9d7 !important;
}

.userList {
    .ag-row {
        .ag-cell {
            display: flex;
            justify-content: center;
            /* align horizontal */
            align-items: center;
            font-size: 14px;
        }
    }
}